div {
    float:left;
    height: 300px;
}

.div_1 {
    width: 50%;
    background-color: blue;
}

.div_2 {
    width: 50%;
    background-color: rgb(216, 25, 25);
}

@media only screen and (max-width:600px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .div_1 {
        width: 50%;
        background-color: blueviolet;
        margin-bottom: 50px;
    }
    .div_2 {
        width: 50%;
        background-color: rgb(55, 237, 243);
    }
}


.container {
    margin: 100px 100px 0 100px;
}

p {
    font-family: 'Fuzzy Bubbles', cursive;
}